body {
    display: flex;
    height: 154vh;
    flex-direction: column;
    font-family: "Roberto";
    margin: 0;
}

.list-link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    text-decoration: none;
    align-self: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
}

.header, .container-1 {
    display: flex;
    background-color: #1f2937;
    padding-left: 350px;
    padding-right: 350px;
    justify-content: space-between;
}

.container-1 {
    display: flex;
    height: 500px;
    justify-content: space-between;
}

.verticals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f9faf8;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
}

.container-2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    gap: 14px;
}

.four {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.container-3 {
    display: flex;
    background-color: #e5e7eb;
    height: 375px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

#ed {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    padding-left: 60%;
    margin-top: 0;
}


.container-4 {
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    align-self: center;
    border-radius: 20px;
    height: 200px;
    width: 800px;
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 40px;
    padding-right: 85px;
    box-shadow: 6px 6px 10px black;
}

h3 {
    margin-bottom: 0;
}

#cta-button {
    align-self: center;
    height: 60px;
    width: 150px;
    font-size: 20px;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}

ul, .hero {
    color: #e5e7eb;
    font-size: 18px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937
}

.img-border {
    border-radius: 10px;
    border: 3px solid #3882f6;
}

#main {
    border-radius: 10px;
    box-shadow: 6px 6px 10px whitesmoke;
}


#main {
    display: flex;
    align-self: center;
}

button {
    flex-grow: 0;
    height: 40px;
    width: 100px;
    background-color: #3882f6;
    border-color: #f9faf8;
    color: #f9faf8;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-size: 32px;
}