body {
    display: flex;
    height: 160vh;
    flex-direction: column;
    font-family: "Roberto";
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
}

.header, .container-1 {
    display: flex;
    background-color: #1f2937;
    padding-left: 120px;
    padding-right: 120px;
    justify-content: space-between;
}

.container-1 {
    display: flex;
    height: 500px;
    justify-content: space-around;
}

.verticals {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.four {
    display: flex;
    justify-content: center;
    gap: 65px;
}

.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-3 {
    background-color: #e5e7eb;
}

.container-4 {
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    align-self: center;
    border-radius: 20px;
    height: 200px;
    width: 800px;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}

ul, .hero {
    color: #e5e7eb;
    font-size: 18px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937
}

img, button {
    border-radius: 10px;
}

.img-border {
    border: 15px;
    border-color: #3882f6;
}

#main {
    display: flex;
    align-self: center;
}

button {
    flex-grow: 0;
    height: 40px;
    width: 100px;
}

h2 {
    text-align: center;
    font-size: 32px;
}