body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: "Roberto";
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
}

.header, .container-1 {
    display: flex;
    background-color: #1f2937;
}

.container-1 {
    display: flex;
}

.container-2 {
    display: flex
}

.container-3 {
    background-color: #e5e7eb;
}

.container-4 {
    display: flex;
}

footer {

}
